*{margin:0; padding:0;}
body{width:100%;}
.wrap{width:100%;}
*li{list-style: none;}
*a{text-decoration: none;}
/*-------------header------------------*/

/*-------------section1----------------*/
.slide_item{width:100%;}
.slide_item>img{width:100%; height:100vh;}
.main_slide .slide_txt{
    position:absolute; 
    bottom:10%;
    left:6%
}
.slide_txt>h2{
    font-size: 33px; color:white;
}
.st{
    color:#5EE1FF!important;
}
.slide_txt>strong{color:white;}

/*slide1*/
.slide1_txt{}
/*slide2*/
/*slide3*/