*{margin:0; padding:0;}
li{list-style:none;}
a{text-decoration: none; color:#333;}
body{width:100%;}
.wrap{width:1920px; margin: 0 auto;}
header{width:1920px; height:160px;}
section{position:relative; width:1920px;height:100vh;}

/* -----------------header--------------------*/
.top_bar{
    width:1920px;
    height:111px;
}
.top_bar>img.logo{margin-left:834px; margin-top:30px;}
.top_bar>img.header_bar{padding-top:26px;}
.header_nav>ul{
    width:1000px;
    padding:0 460px;
    height:50px;
    border-bottom: 2px solid #ddd;
}
.header_nav>ul>li{
    width:200px;height:50px;
    float:left;
    line-height:50px; text-align: center; font-weight: bold;
}
.header_shadow{
    position: relative;
    width:100%; height:0px;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s;
    
}
.header_bottom_bar{
    position: absolute;
    opacity: 0;
}
.header_nav>ul>li>ul{

    opacity: 0;
    transition: all 0.6s;
}

.header_nav>ul:hover li>ul{
    position:relative;
    border-bottom: 0px solid #ddd;
    opacity:1;
    z-index: 100;
}
.header_nav:hover .header_shadow{
    height:300px;
    z-index:99;
}
.header_nav:hover .header_bottom_bar{
    opacity:100;
}
.header_nav:hover >ul{
    border-bottom:0;
}
/* -----------------section1--------------------*/
.main_txt_box{
    position:absolute;
    top:290px; left:650px;
    z-index:100;
    opacity:1;
}
.section1{
    position:absolute;
    top:8px;
    width:1920px; height:840px;
}

/* -----------------section2--------------------*/
.section2{
    position:absolute;
    top:828px;
    width:1920px; height:761px;
    background: url(../img/sec2_bg.jpg) repeat 0 0;
}
.section2>article{
    width:920px;
    margin:0 auto;
    text-align: center;
}
.section2 img{
    position:absolute;
    top:10%;
    left:50%;
}
.section2 h1{
    font-size:50px;
    margin-top:150px;
}
.section2 h6{
    font-size:15px;
    margin-top:30px;
    color:#bbb;
}
#index-ytube{
    margin-top:50px;
}
/* -----------------section3--------------------*/
.section3{
    position:absolute;
    top:1589px;
    width:1920px; height:648px;
    background:url(../img/sec1_bg.jpg) no-repeat 0 0;
}
/* -----------------section4--------------------*/
.section4{
    position:absolute;
    top:2297px;
    width:1920px; height:756px;
    background: url(../img/sec3_bg.jpg) no-repeat 0 56px;
}
/* -----------------section5--------------------*/
.section5{
    position:absolute;
    top:3053px;
    width:1920px; height:356px;
    background-color:#fc8f8f;
}
/* -----------------footer--------------------*/
footer{
    width:1920px; height:262px;
    background-color:#222;
}