*{margin:0; padding:0;}
li{list-style:none;}
a{text-decoration: none; color:#333;}
body{width:100%;}
.wrap{width:1920px; margin: 0 auto;}
header{width:1920px; height:160px;}
section{position:relative; width:1920px;height:100vh;}

/* -----------------header--------------------*/
.top_bar{
    width:1920px;
    height:111px;
}
.top_bar>img.logo{margin-left:834px; margin-top:30px;}
.top_bar>img.header_bar{padding-top:26px;}
.header_nav>ul{
    width:1000px;
    padding:0 460px;
    height:50px;
    border-bottom: 1px solid #ddd;
}
.header_nav>ul>li{
    width:200px;
    height:50px;
    float:left;
    line-height:50px;
    text-align: center;
    font-weight: bold;
}
.header_shadow{
    position: relative;
    width:100%;
    height:0px;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s;
    
}
.header_bottom_bar{
    position: absolute;
    opacity: 0;
}
.header_nav>ul>li>ul{

    opacity: 0;
    transition: all 0.6s;
}

.header_nav>ul:hover li>ul{
    position:relative;
    border-bottom: 0px solid #ddd;
    opacity:100;
    z-index: 100;
}
.header_nav:hover .header_shadow{
    height:300px;
    z-index:99;
}
.header_nav:hover .header_bottom_bar{
    opacity:100;
}
.header_nav:hover >ul{
    border-bottom:0;
}
/* -----------------section1--------------------*/
.main_txt_box{
    position:absolute;
    top:290px;
    left:650px;
    z-index:100;
    opacity:1;
}
.section1{
    position:absolute;
    width:1920px;
    height:840px;
    top:7px;
    box-sizing: border-box;
}

/*PopupMenu*/
.slide_text{
    margin:0 auto;
    text-align: center;
}
/*slide0*/
.slide0_text{
    position:absolute;
    top:350px;
    left:750px;
    opacity:0;
    transition:all 1.5s;
}
.slide0_text1{
    font-size:20px;
    font-weight: bold;
    opacity:0;
    transform:translate(0 ,300px);
}
.slide0_text1.active{
    opacity:1;
    transform:translate(0 ,0);
}

.slide0_span{
    font-size:50px;
    font-weight: bold;
    opacity:0;
    transform:translate(0 ,300px);
}
.slide0_span.active{
    opacity:1;
    transform:translate(0 ,0);
}

.slide0_round_text{
    position:absolute;
    width:150px;
    height:150px;
    top:350px;
    left:1110px;
    color:white;
    border-radius: 75px;
    background-color: #D39693;
    opacity:0;
}
.slide0_round_text.active{
    opacity:1;
}

.slide0_round_text>p{
    padding-top:45px;
    text-align: center;
    font-size:25px;
}
/*slide1*/
.slide1_text{
    position:absolute;
    top:390px;
    left:750px;
    transition:all 1s;
}

.slide1_text1{
    font-size:20px;
    font-weight: bold;
    transform:translate(0, 150px);
    opacity:0;
}
.slide1_text1.active{
    transform:translate(0, 150px);
    opacity: 1;
}

.slide1_span{
    font-size:50px;
    font-weight: bold;
    transform:translate(0, 150px);
    opacity:0;
}
.slide1_span.active{
    transform:translate(0, 150px);
    opacity: 1;
}